.iphone-list-container {
  background-color: black;
  padding: 20px;
 
}

.iphone-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iphone-card {
  background-color: #111;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.iphone-card img {
  width: 150px;
  height: auto;
}

.iphone-card p {
  color: white;
  margin-top: 10px;
}

.view-all {
  text-align: right;
  margin-top: 20px;
  color: #3498db;
  cursor: pointer;
}
