 .navbar-container {
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 20px 0;
    cursor: pointer;
    background-color: firebrick; 
  }
  
  .img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px; 
    flex-wrap: wrap; 
    width: 100%;
    max-width: 1200px; 
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px; 
    transition: transform 0.3s ease;
  }
  
  .product-item:hover {
    transform: scale(1.1); 
  }
  
  .product-image1 {
    width: 40px; 
    height: 40px;
    object-fit: contain; 
    margin-bottom: 8px;
  }
  
  .product-label {
    font-size: 18px;
    font-weight: 500;
    color: white;
    
    margin-top: 5px;
    transition: color 0.3s ease;
  }
  
  .product-label:hover {
    color: #007bff; 
  }
  













 
 
